
body {
  font-family: 'Henny Penny', cursive;
  color: #000;
  font-size: 24px;
  background-color: #ececec;
  padding-bottom: 20px;
}
.main-content h3 {
  font-size: 24px;
}
.top-banner {
  height: 263px;
  width: 100%;
  overflow: hidden;
}
#word {
  margin: 2em 0;
  text-align: center;
}
#word b {
  visibility: hidden;
}
#word span {
  display: inline-block;
  border-bottom: 2px solid #000;
  margin: 5px;
  min-width: 1em;
}
#word span.yep b {
  visibility: visible;
}
#word span.space {
  border-bottom: 0;
}
#gameover {
  display: none;
}
#won {
  display: none;
}
/* Custom Media Queries */
@media (max-width: 767.98px) {
  }
 }